<div id="settings-modal" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blue-grey">
        <button id="settings-close-button" class="w3-button w3-blue-grey w3-round-large w3-display-topright">
          <i class="fa fa-times fa-lg"></i>
        </button>
        <h2><i class="fa fa-cog"></i> User <span id="user-settings-header-placeholder"></span>'s Settings</h2>
      </header>
      
      <form class="w3-container" id="settings-form">
        <div class="w3-row w3-section">
          <label class="w3-text"><b>Refresh Interval in Seconds</b></label>
          <input class="w3-input w3-border w3-light-grey" type="number" name="refresh.interval" min="0">

          <input type="submit" hidden>
        </div>
      </form>
  
      <footer class="w3-container w3-padding">
        <div class="w3-bar w3-center">
          <button id="settings-confirm-btn" class="w3-btn w3-blue w3-round-large">Apply</button>
          <button  id="settings-cancel-btn" class="w3-button w3-gray w3-round-large">Close</button>
        </div>
      </footer>
    </div>
  </div>
  