<div id="add-job-modal" class="w3-modal">
  
  <div class="w3-modal-content"  id="add-job-form-content">
    <header class="w3-container w3-blue-gray">
      <span onclick="app.controls.closeModal('add-job-modal')"
      class="w3-button w3-display-topright">&times;</span>
      <h2><i class="fa fa-plus-square"></i></i> Add Refinery Job</h2>
    </header>
    
  <div class="w3-panel">
    <form class="w3-container" id="add-job-form" onsubmit="app.submitJobEntry(); return false;">

      <div class="w3-row w3-section">
        <label class="w3-text"><b>Name</b></label>
        <input class="w3-input w3-border w3-light-grey" type="text" name="name" placeholder="Something to remember this job by">
      </div>

      <div class="w3-row w3-section">
        <label class="w3-text"><b>Refinery Location</b></label>
        <select id="add-job-select-location" class="w3-select w3-border w3-light-grey" name="location">
          <option value="" disabled selected>Choose Refinery</option>
          <option value="ARC-L1">ARC-L1</option>
          <option value="CRU-L1">CRU-L1</option>
          <option value="HUR-L1">HUR-L1</option>
          <option value="HUR-L2">HUR-L2</option>
          <option value="MIC-L1">MIC-L1</option>
        </select>
      </div>
    
      <div class="w3-row w3-section">
        <label class="w3-text"><b>Expected Duration</b></label>
        <div class="w3-row-padding">
          <div class="w3-quarter">
            <label>Days</label>
            <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0" name="duration.days">
          </div>
          <div class="w3-quarter">
            <label>Hours</label>
            <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0"  name="duration.hours">
          </div>
          <div class="w3-quarter">
            <label>Minutes</label>
            <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0"  min="0" name="duration.minutes">
          </div>
          <div class="w3-quarter">
            <label>Seconds</label>
            <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0"  name="duration.seconds">
          </div>
        </div>
      </div>

      <div id="entry-mode-parent">
        <input id="add-job-form.entryMode" class="w3-check" type="checkbox" onclick="app.jobEntry.toggleMaterialEntryMode()" >
        <label>Enter Materials</label>
        
        <div class="w3-row w3-section" id="yield-units">
            <label class="w3-text"><b>Expected Yield Units</b></label>
            <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0" name="yieldAmount">
        </div>
        <div class="w3-row w3-section" id="material-units" hidden>
            <label class="w3-text"><b>Materials</b></label>
            <button class="w3-btn w3-blue-grey w3-round-large" onclick="app.jobEntry.addMaterialEntry(); return false;">
                <i class="fa fa-plus fa-sm"></i>
            </button>
            <div id="materials-container" class="w3-row-padding">
            </div>
        </div>
    </div>

      <input type="submit" hidden>
    </form>
  </div>

  <footer class="w3-container w3-padding">
    <div class="w3-bar w3-center">
      <button class="w3-button w3-blue" onclick="app.submitJobEntry()">Confirm</button>
      <button class="w3-button w3-gray" onclick="app.controls.closeModal('add-job-modal')">Cancel</button>
    </div>
  </footer>
  </div>
</div>
