<div id="add-job-modal" class="w3-modal">

  <div class="w3-modal-content" id="add-job-form-content">
    <header id="add-job-header" class="w3-container w3-blue-gray">
      <button id="add-job-modal-close-button" class="w3-button w3-blue-grey w3-round-large w3-display-topright">
        <i class="fa fa-times fa-lg"></i>
      </button>
      <h2>
        <i id="job-modal-header-icon" class="fa fa-plus-square"></i>
        <span> </span>
        <span id="job-modal-header-placeholder">Add Refinery Job</span>
      </h2>
    </header>

    <div class="w3-panel">
      <form class="w3-container" id="add-job-form">

        <div class="w3-row w3-section">
          <label class="w3-text"><b>Name</b></label>
          <input class="w3-input w3-border w3-light-grey" type="text" name="name"
            placeholder="Something to remember this job by">
        </div>

        <div class="w3-row w3-section">
          <label class="w3-text"><b>Refinery Location</b></label>
          <select id="add-job-select-location" class="w3-select w3-border w3-light-grey w3-border-red" name="location">
            <option value="" disabled selected>Choose Refinery</option>
            <option value="ARC-L1">ARC-L1</option>
            <option value="ARC-L2">ARC-L2</option>
            <option value="ARC-L4">ARC-L4</option>
            <option value="CRU-L1">CRU-L1</option>
            <option value="HUR-L1">HUR-L1</option>
            <option value="HUR-L2">HUR-L2</option>
            <option value="MIC-L1">MIC-L1</option>
            <option value="MIC-L2">MIC-L2</option>
          </select>
        </div>

        <div class="w3-row w3-section">
          <label class="w3-text"><b>Expected Duration</b></label>
          <div class="w3-row-padding">
            <div class="w3-quarter">
              <label>Days</label>
              <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0"
                name="duration.days">
            </div>
            <div class="w3-quarter">
              <label>Hours</label>
              <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0"
                name="duration.hours">
            </div>
            <div class="w3-quarter">
              <label>Minutes</label>
              <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0"
                name="duration.minutes">
            </div>
            <div class="w3-quarter">
              <label>Seconds</label>
              <input class="w3-input w3-border w3-light-grey" type="number" placeholder="0" min="0"
                name="duration.seconds">
            </div>
          </div>
        </div>

        <div id="entry-mode-parent">
          <input id="add-job-form-entryMode" class="w3-check" type="checkbox">
          <label>Enter Materials</label>

          <div class="w3-row w3-section" id="yield-units">
            <label class="w3-text"><b>Expected Yield Units</b></label>
            <input class="w3-input w3-border w3-light-grey" type="number" min="0" value="0" name="yieldAmount">
          </div>
          <div class="w3-row w3-section" id="material-units" hidden>
            <label class="w3-text"><b>Materials</b></label>
            <button id="add-job-form-add-material" class="w3-btn w3-blue-grey w3-round-large" type="button">
              <i class="fa fa-plus fa-sm"></i>
            </button>
            <div id="materials-container" class="w3-row-padding">
            </div>
          </div>
        </div>

        <input type="submit" hidden>
      </form>
    </div>

    <footer class="w3-container w3-padding">
      <div class="w3-bar w3-center">
        <button id="add-job-form-confirm-btn" class="w3-button w3-blue w3-disabled w3-round-large"
          disabled>Confirm</button>
        <button id="add-job-form-cancel-btn" class="w3-button w3-gray w3-round-large">Cancel</button>
      </div>
    </footer>
  </div>
</div>