<div class="w3-container w3-padding w3-margin w3-border-blue-gray w3-border" id="jobs-view-container">

  <div class="w3-center">
    <h2>Jobs</h2>
  </div>

  <div class="w3-margin-top w3-margin-bottom">
    <button id="add-job-btn" class="w3-button w3-blue w3-round-large">Add Job</button>
    <button id="remove-all-jobs-btn" class="w3-button w3-red w3-round-large" disabled>Remove All</button>
  </div>

  <!-- todo make sortable -->
  <table id="jobs-table" class="w3-table w3-centered">
    <thead class="w3-bottombar">
      <tr>
        <th>
          <span>
            <i id="toggle-collapse-all" class="fa fa-angle-double-up w3-left w3-padding-small"></i></span>
          Name
        </th>
        <th>Location <span><i id="toggle-sort-location" data-property="location"
              class="fa fa-sort w3-right w3-padding-small"></i></span>
        </th>
        <th>Duration <span><i id="toggle-sort-duration" data-property="duration"
              class="fa fa-sort w3-right w3-padding-small"></i></span></th>
        <th>Time Remaining <span><i id="toggle-sort-timeRemaining" data-property="timeRemaining"
              class="fa fa-sort w3-right w3-padding-small"></i></span></th>
        <th>Yield Units <span><i id="toggle-sort-yield" data-property="yield"
              class="fa fa-sort w3-right w3-padding-small"></i></span></th>
        <th>Status <span><i id="toggle-sort-status" data-property="status"
              class="fa fa-sort w3-right w3-padding-small"></i></span></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="jobs-table-body">
      <!-- placeholder -->
      <tr>
        <td>Borase/Laranite</td>
        <td>CRU-L1</td>
        <td>21d 43m</td>
        <td>15h 22m 3s</td>
        <td>1500</td>
        <td>
          <span class="w3-tag w3-padding-small w3-round w3-amber w3-center">In Progress</span>
        </td>
        <td>
          <div class="w3-bar">
            <button class="w3-btn w3-blue-grey w3-round-xlarge"><i class="fa fa-cube"></i></button>
            <button class="w3-btn w3-blue w3-round-xlarge"><i class="fa fa-pencil-square-o fa-lg"></i></button>
            <button class="w3-btn w3-red w3-round-xlarge"><i class="fa fa-trash fa-lg"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot class="w3-topbar" id="jobs-table-footer">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td id="jobs-table-footer-yield"></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>