<div id="remove-all-jobs-modal" class="w3-modal">
  <div class="w3-modal-content  w3-pale-red" id="remove-all-jobs-form-parent">
    <div class="w3-container w3-red">
      <button id="remove-all-jobs-modal-close-button" class="w3-button w3-red w3-round-large w3-display-topright">
        <i class="fa fa-times fa-lg"></i>
      </button>
      <h2><i class="fa fa-minus-square"></i> Remove All Jobs</span></h2>
    </div>
    <div class="w3-panel">
      <p>This will remove all the refinery jobs for the user. Are you sure?</p>
    </div>
    <footer class="w3-container w3-padding">
      <div class="w3-bar w3-center">
        <button id="remove-all-jobs-confirm-btn" class="w3-button w3-red w3-round-large">Confirm</button>
        <button id="remove-all-jobs-cancel-btn" class="w3-button w3-gray w3-round-large">Cancel</button>
      </div>
    </footer>
  </div>
</div>