<div id="about-modal" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blue-grey">
        <span onclick="app.controls.closeModal('about-modal')" class="w3-button w3-display-topright">&times;</span>
        <h2><i class="fa fa-question"></i> About</h2>
      </header>
      <div class="w3-panel">
        <p>The Refinery Tracker was built to remember refinery jobs. All data is preserved locally through the usage of your browser's local storage.</p>
  
        <h2>Usage</h2>
        <p>The Refinery Tracker keeps jobs for a particular user.</p>
        <ul>
          <li>Start by creating a user name to associate refinery jobs to</li>
          <li>Select your User from the user selection box</li>
          <li>Start adding Refinery Jobs</li>
        </ul>
  
        <h2>Issues</h2>
        <ul>
          <li>Feel free to log issues on <a href="https://github.com/AnEmortalKid/sc-refinery-tracker/issues/new">github</a></li>
          <li><b>Version: </b> 1.1.0</li>
        </ul>
      </div>
      
      <footer class="w3-container w3-padding">
        <div class="w3-bar w3-center">
          <button class="w3-button w3-gray" onclick="app.controls.closeModal('about-modal')">Close</button>
        </div>
      </footer>
    </div>
  </div>