<div>
<header class="w3-container w3-blue-grey">
    <h1>Star Citizen Refinery Tracker</h1>
</header>
  <div id="button-bar" class="w3-display-topright">
    <div class="w3-bar w3-padding">
      <button id="user-settings-modal-btn" class="w3-btn w3-blue-grey w3-round-large w3-disabled">
        <i class="fa fa-cog fa-lg"></i>
      </button>
      <button class="w3-btn w3-blue-grey w3-round-large" target="_blank" onclick="window.open('https://github.com/AnEmortalKid/sc-refinery-tracker', '_blank')">
        <i class="fa fa-github fa-lg"></i>
      </button>
      <button class="w3-btn w3-blue-grey w3-round-large" onclick="app.controls.openModal('about-modal')">
        <i class="fa fa-question fa-lg"></i>
      </button>
      <button class="w3-btn w3-blue-grey w3-round-large" onclick="app.controls.openModal('tip-me-modal')">
        <i class="fa fa-dollar"></i>/<i class="fa fa-coffee"></i>
      </button>
    </div>
  </div>
</div>