<div id="tip-me-modal" class="w3-modal">
    <div class="w3-modal-content">
      <header class="w3-container w3-blue-grey">
        <span onclick="app.controls.closeModal('tip-me-modal')" class="w3-button w3-display-topright">&times;</span>
        <h2><i class="fa fa-dollar"></i>/<i class="fa fa-coffee"></i></i> Buy me a Coffee</h2>
      </header>
      <div class="w3-panel">
        <p>Tips are appreciated but not required, if you feel like buying me a coffee, here's some easy ways to do that:</p>
  
        <div class="w3-row">
          <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="TLJKK5M72C8NS" />
            <input type="hidden" name="item_name" value="sc-refinery-tracker" />
            <input type="hidden" name="currency_code" value="USD" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>          
        </div>
      </div>
      
      <footer class="w3-container w3-padding">
        <div class="w3-bar w3-center">
          <button class="w3-button w3-gray" onclick="app.controls.closeModal('tip-me-modal')">Close</button>
        </div>
      </footer>
    </div>
  </div>