<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div id="header-view">
    <%= require('html-loader!./views/header.html') %>
  </div>

  <%= require('html-loader!./views/settings/settingsModal.html') %>
  <%= require('html-loader!./views/aboutModal.html') %>
  <%= require('html-loader!./views/tipMeModal.html') %>

  <%= require('html-loader!./views/users/addUserModal.html') %>
  <%= require('html-loader!./views/users/removeUserModal.html') %>
  <div id="user-view">
    <%= require('html-loader!./views/users/usersView.html') %>  
  </div>

  <%= require('html-loader!./views/jobs/addJobModal.html') %>
  <%= require('html-loader!./views/jobs/removeAllJobsModal.html') %>
  <div id="jobs-view">
    <%= require('html-loader!./views/jobs/jobsView.html') %>
  </div>

  <%= require('html-loader!./views/alertPlay.html') %>

  <div class="w3-panel w3-red w3-top w3-middle rf-horizontal-center" style="width:80%">
    <h3>Danger!</h3>
    <p>Red often indicates a dangerous or negative situation.</p>
  </div> 
</body>

<script src="main.js"></script>
<script>app.startApp()</script>

</html>