<div id="add-user-form-modal" class="w3-modal">
  <div class="w3-modal-content" id="add-user-form-parent">
    <header class="w3-container w3-blue-gray">
      <button id="add-user-modal-close-button" class="w3-button w3-blue-grey w3-round-large w3-display-topright">
        <i class="fa fa-times fa-lg"></i>
      </button>
      <h2><i class="fa fa-user-plus"></i></i> Add User</h2>
    </header>
    
    <form class="w3-container" id="user-form">
      <div class="w3-row w3-section">
        <label class="w3-text"><b>Username</b></label>
        <input id="user-form-username" class="w3-input w3-border w3-light-grey" type="text" name="username" placeholder="Name of the user">

        <input type="submit" hidden>
      </div>
    </form>

    <footer class="w3-container w3-padding">
      <div class="w3-bar w3-center">
        <button id="add-user-form-confirm-btn" class="w3-btn w3-blue w3-round-large">Confirm</button>
        <button id="add-user-form-cancel-btn" class="w3-button w3-gray w3-round-large">Cancel</button>
      </div>
    </footer>
  </div>
</div>
