<div id="remove-user-form-modal" class="w3-modal">
    <div class="w3-modal-content  w3-pale-red" id="remove-user-form-parent">
      <header class="w3-container w3-red">
        <button id="remove-user-modal-close-button" class="w3-button w3-red w3-round-large w3-display-topright">
          <i class="fa fa-times fa-lg"></i>
        </button>
        <h2><i class="fa fa-user-times"></i> Remove <span id="remove-user-header-placeholder">User</span>?</h2>
      </header>
      <div class="w3-panel">
        <p>Removing this user will remove all their runs. Are you sure?</p>
      </div>
      
      <footer class="w3-container w3-padding">
        <div class="w3-bar w3-center">
          <button id="remove-user-form-confirm-btn" class="w3-button w3-red w3-round-large">Confirm</button>
          <button id="remove-user-form-cancel-btn" class="w3-button w3-gray w3-round-large">Cancel</button>
        </div>
      </footer>
    </div>
  </div>